html[data-theme='dark'] .showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    .texcard {
      position: relative;
      margin: 1.25rem;
      background-color: #000;
      border-radius: 10px;
      box-shadow: 0 2px 20px rgba(255, 255, 255, 0.2);
      width: calc(100% - 38px);
      height: 200px;
      transition: all var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);
      &:hover {
        box-shadow: 0 6px 30px rgba(255, 255, 255, 0.3);
      }
        .multi-button {
            z-index:100;
            position: absolute;
            top:1.25rem;
            right:1.25rem;
            border-radius:100%;
            width:0rem;
            height:0rem;
            transform: translate(45%, -45%);
            transition: .25s cubic-bezier(0.25, 0, 0, 1);
            opacity: 0;
            .texbutton {
                display: grid;
                place-items: center;
                position: absolute;
                width:2rem;
                height:2rem;
                border:none;
                border-radius:100%;
                background: var(--ifm-color-primary-lightest);
                color: black;
                transform: translate(45%, -45%);
                cursor: pointer;
                transition: var(--ifm-transition-fast) cubic-bezier(0.25, 0, 0, 1);
                box-shadow:0 0 0rem -.25rem rgba(255,255,255,0.2);
                &:hover {
                    background: black;
                    color: var(--ifm-color-primary);
                    box-shadow:0 0 1rem -.25rem rgba(255,255,255,0.4);
                }
                &:first-child:nth-last-child(1) { //If there is 1 child
                    right:25%;
                    top:25%;
                }
                &:first-child:nth-last-child(2),
                &:first-child:nth-last-child(2) ~ * { //If there are 2 children
                    &:nth-child(1) {
                        right:37.5%;
                        top:18.75%;
                    }
                    &:nth-child(2) {
                        right:18.75%;
                        top:37.5%;
                    }
                }
                &:first-child:nth-last-child(3),
                &:first-child:nth-last-child(3) ~ * { //If there are 3 children
                    &:nth-child(1) {
                        right:50%;
                        top:15.625%;
                    }
                    &:nth-child(2) {
                        right:25%;
                        top:25%;
                    }
                    &:nth-child(3) {
                        right:15.625%;
                        top:50%;
                    }
                }
                &:first-child:nth-last-child(4), //If there are 4 children, if first child is also 4th item from bottom get self, and
                &:first-child:nth-last-child(4) ~ * { //If there are 4 children, if first child is also 4th item from bottom get siblings
                    &:nth-child(1) {
                        right:62.5%;
                        top:18.75%;
                    }
                    &:nth-child(2) {
                        right:37.5%;
                        top:18.75%;
                    }
                    &:nth-child(3) {
                        right:18.75%;
                        top:37.5%;
                    }
                    &:nth-child(4) {
                        right:18.75%;
                        top:62.5%;
                    }
                }
            }
        }
        .teximg {
          object-fit: contain;
          height: auto;
          max-height: 100%;
          width: auto;
          max-width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover .multi-button, .multi-button:focus-within { //Hover or a button inside is focused
            width:10rem;
            height:10rem;
            opacity: 1;
        }
    }
  }


  .showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-flow: dense;
    .texcard {
      position: relative;
      margin: 1.25rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      width: calc(100% - 38px);
      height: 200px;
      transition: all var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);
      &:hover {
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
        // width: calc(100% - 38px);
        // height: 400px;
        // grid-column-end: span 2;
      }
        .multi-button {
            z-index:100;
            position: absolute;
            top:1.25rem;
            right:1.25rem;
            border-radius:100%;
            width:0rem;
            height:0rem;
            transform: translate(45%, -45%);
            transition: .25s cubic-bezier(0.25, 0, 0, 1);
            opacity: 0;
            .texbutton {
                display: grid;
                place-items: center;
                position: absolute;
                width:2rem;
                height:2rem;
                border:none;
                border-radius:100%;
                background: var(--ifm-color-primary-lightest);
                color: white;
                transform: translate(45%, -45%);
                cursor: pointer;
                transition: var(--ifm-transition-fast) cubic-bezier(0.25, 0, 0, 1);
                box-shadow:0 0 0rem -.25rem rgba(0,0,0,0.2);
                &:hover {
                    background: white;
                    color: var(--ifm-color-primary);
                    box-shadow:0 0 1rem -.25rem rgba(0,0,0,0.4);
                }
                &:first-child:nth-last-child(1) { //If there is 1 child
                    right:25%;
                    top:25%;
                }
                &:first-child:nth-last-child(2),
                &:first-child:nth-last-child(2) ~ * { //If there are 2 children
                    &:nth-child(1) {
                        right:37.5%;
                        top:18.75%;
                    }
                    &:nth-child(2) {
                        right:18.75%;
                        top:37.5%;
                    }
                }
                &:first-child:nth-last-child(3),
                &:first-child:nth-last-child(3) ~ * { //If there are 3 children
                    &:nth-child(1) {
                        right:50%;
                        top:15.625%;
                    }
                    &:nth-child(2) {
                        right:25%;
                        top:25%;
                    }
                    &:nth-child(3) {
                        right:15.625%;
                        top:50%;
                    }
                }
                &:first-child:nth-last-child(4), //If there are 4 children, if first child is also 4th item from bottom get self, and
                &:first-child:nth-last-child(4) ~ * { //If there are 4 children, if first child is also 4th item from bottom get siblings
                    &:nth-child(1) {
                        right:62.5%;
                        top:18.75%;
                    }
                    &:nth-child(2) {
                        right:37.5%;
                        top:18.75%;
                    }
                    &:nth-child(3) {
                        right:18.75%;
                        top:37.5%;
                    }
                    &:nth-child(4) {
                        right:18.75%;
                        top:62.5%;
                    }
                }
            }
        }
        .teximg {
          object-fit: contain;
          height: auto;
          max-height: 100%;
          width: auto;
          max-width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover .multi-button, .multi-button:focus-within { //Hover or a button inside is focused
            width:10rem;
            height:10rem;
            opacity: 1;
        }
    }
  }
