.word {
  vertical-align: middle;
  width: fit-content;
  border: .1rem solid var(--ifm-color-success);
  background-color: var(--ifm-color-success);
  border-radius: .5rem;
  padding: .1rem .2rem;
  margin: .5rem;
  font-size: x-small;
  color: white;
  white-space: nowrap;
}
